---
title : "01. PR study (2)"
author : "GC"
catergories : [python, coding test]
date  : "09/03/23"
---

# Lv. 0

## 1. 저주의 숫자 3

<figure>
    <img src="저주의 숫자3.png">
</figure>

`-` 정수 `n`이 주어질 때 위와 같은 규칙을 따르는 숫지를 return 하는 함수를 작성하라

### sol

1. 임의의 숫자 `n`을 입력 받았을 때, `1`부터  `n` 번째 까지의 상황을 기록하는 변수(`r`)가 필요

```python
r = 0
for i in range(1, n+1) :
    r += 1
```

`2`. 변수 `r`이 3의 배수 이거나 3을 포함하고 있는 `string`일 경우  `r+1`을 수행

In [43]:
n=15

In [ ]:
r = 0
for i in range(1, n+1) :
    r +=1
    while (r % 3 == 0) or ('3' in str(r)) : ## 30,31,32... 이럴경우 for문에서 계속 반복해야 하므로
        r+=1
r

25

`3`. 함수로 작성

In [95]:
def solution(n) : 
        r = 0
        for i in range(1, n+1) :
            r +=1
            while (r % 3 == 0) or ('3' in str(r)) : ## 30,31,32... 이럴경우 for문에서 계속 반복해야 하므로
                r+=1
        return r

In [96]:
solution(5)

7

***

## 2. OX 퀴즈

`-` 리스트 안에 임의의 수식들이 주어졌을 때 결과가 맞으면 "O", 아니면 "X"를 출력하는 함수를 작성

### 예비학습

In [272]:
lst = ["3 - 4 = -3", "5 + 6 = 11"]

`-` 연산이 이루어지는 쪽과 결과값을 저장

In [262]:
l,r=lst[0].split("=")
l = l.split()
l,r

(['3', '-', '4'], ' -3')

`-` 사칙연산

In [267]:
if l[1] == "-" :
    temp = int(l[0]) - int(l[-1]) == int(r)

In [268]:
temp

False

`-` 루프를 통해 모든 원소에 적용

In [279]:
result = []
for i in lst :
    l,r=i.split("=")
    l = l.split()
    if l[1] == "-" :
        temp = int(l[0]) - int(l[-1]) == int(r)
    else :
        temp = int(l[0]) + int(l[-1]) == int(r)
    
    result.append(temp)

In [280]:
result

[False, True]

`-` 위 result를 "O", "X"로 변경

In [281]:
["O" if i == True else "X" for i in result]

['X', 'O']

`-` 함수 작성

### sol1

In [293]:
lst =["19 - 6 = 13", "5 + 66 = 71", "5 - 15 = 63", "3 - 1 = 2"]

def solution(lst) : 
    result = []
    for i in lst :
        l,r=i.split("=")
        l = l.split()
        if l[1] == "-" :
            temp = int(l[0]) - int(l[-1]) == int(r)
        else :
            temp = int(l[0]) + int(l[-1]) == int(r)

        result.append(temp)
    print(result)
    result = ["O" if i == True else "X" for i in result]
    return result

In [294]:
solution(lst)

[True, True, False, True]

['O', 'O', 'X', 'O']

### sol2 (쩌는거...)

In [318]:
def valid(equation):
    equation = equation.replace('=', '==')
    return eval(equation)

def solution(equations):
    return ["O" if valid(equation) else "X" for equation in equations]

In [319]:
lst =["19 - 6 = 13", "5 + 66 = 71", "5 - 15 = 63", "3 - 1 = 2"]
solution(lst)

['O', 'O', 'X', 'O']

***

# Lv. 1

## 1. 정수를 나선형으로 배치하기

### sol

###

In [37]:
def solution(n):
    if n == 1:
        return [[1]]
    
    answer = [[0 for j in range(n)] for i in range(n)] 
    x = 0
    y = 0
    dir = 'r'
    for i in range(n*n):
        answer[x][y] = i + 1
        if dir == 'r':
            y += 1
            if y == n-1 or answer[x][y+1] != 0: 
                dir = 'd'
        elif dir == 'd':
            x += 1
            if x == n-1 or answer[x+1][y] != 0:
                dir = 'l'
        elif dir == 'l':
            y -= 1
            if y == 0 or answer[x][y-1] != 0:
                dir = 'u'
        elif dir == 'u':
            x -= 1
            if x == n-1 or answer[x-1][y] != 0:
                dir = 'r'        
    return answer

In [38]:
solution(4)

[[1, 2, 3, 4], [12, 13, 14, 5], [11, 16, 15, 6], [10, 9, 8, 7]]

## 2. 직사각형 별찍기

`-` n과 m을 입력받아 $n \times m$ 크기 만큼 `*` 채우기

### sol 1

In [93]:
n,m = map(int,input().split())

 5 3

In [92]:
print(("*"*n +"\n")*m)

*****
*****
*****

### sol 2

In [94]:
for i in range(m) :
    print("*"*n)

*****
*****
*****