---
title : "00. Lv. 0"
author : "GC"
date : "08/16/23"
categories : [python, coding test]
---

# ex1. 나이 출력 (2022년 기준)

In [11]:
sol = lambda x : 2022-(x-1)

sol(40)

1983

# ex2. 분수의 덧셈

$$\frac{n1}{d1} + \frac{n2}{d2} = \text {기약분수}$$

In [90]:
import math

In [91]:
n1,d1,n2,d2 = 1,2,3,4

In [96]:
def sol(n1,d1,n2,d2) :
    d = d1*d2 ## 분모 
    n = n1*d2 + n2*d1 ##분자

    gcd = math.gcd(d,n) ## 최대공약수

    return [n//gcd,d//gcd]

In [98]:
sol(n1,d1,n2,d2)

[5, 4]

In [102]:
n = 10
k = 3

n1 = 12000*10
k1 = (k-n//10)*2000

n1+k1

124000

# ex3. 삼각형의 완성조건

`-` 가장 긴 변의 길이는 다른 두 변이 길이의 합보다 작은지 확인하는 함수를 작성

* 조건을 만족할경우 `1`, 아닐경우 `2`를 return

In [104]:
lst= [2,10,4]

In [103]:
def solution(sides):
    sides.sort() ## 이 부분 주의 !! sides = sides.sort()라고 하면 에러남
    if sides[-1] < sum(sides[:-1]) :
        return 1
    else :
        return 2

In [105]:
solution(lst)

2

# ex4. 배열 뒤집기

In [128]:
def solution(num_list):
    num_list.reverse() ## 이 부분도 주의!! reverse와 sort는 함수안에 return 값이 없기 때문
    return num_list

In [129]:
lst = [5, 3, 1, 1, 1, 0, 1]

In [130]:
solution(lst)

[1, 0, 1, 1, 1, 3, 5]

In [143]:
n = 20

In [144]:
result = 0
for i in range(1,101) :
    if n % i == 0 :
        result +=1

In [145]:
result

6

# ex5. 옷가게 할인(소수점 이하 버리기)

In [157]:
def solution(price):
    if price>=500000:
        price = price *0.8
    elif price>=300000:
        price = price *0.9
    elif price>=100000:
        price = price * 0.95
    return int(price)

In [153]:
solution(580000)

464000.0

***

# ex6. 문자열 반복 출력

In [277]:
def solution(my_string, n):
    s = [i*n for i in my_string]
    return "".join(s)

In [279]:
solution("hello",3)

'hhheeellllllooo'

***

# ex7. 아메리카노를 몇 잔 살 수 있는지

In [280]:
def solution(money):
    ice = 5500
    x,y =  divmod(money,ice)
    return [x,y]

In [281]:
solution(5500)

[1, 0]

In [282]:
solution(15000)

[2, 4000]

***

In [326]:
l = list("aeiou")

In [328]:
l

['a', 'e', 'i', 'o', 'u']

In [332]:
s = "bus"

In [341]:
"".join([i for i in s if i not in l])

'bs'

# ex8. 모음제거

In [342]:
def solution(my_string):
    l = list("aeiou")
    return "".join([i for i in my_string if i not in l])

In [344]:
solution("bus")

'bs'

***

# ex8. 숨어있는 숫자의 덧셈

In [370]:
def solution(my_string):
    l = list(range(0,10))
    l = [str(i) for i in l ]
    return sum([int(i) for i in my_string if i in l])

In [371]:
solution("aAb1B2cC34oOp")

10

***

# ex9. 제곱수 판별하기

In [383]:
import numpy as np
def solution(n):
    if np.sqrt(n) - int(np.sqrt(n)) == 0 :
        return 1
    else :
        return 2

In [384]:
solution(144)

1

***

# ex10. 홀수짝수(이어붙인 후 더하기)

In [412]:
def solution(num_list):
    even = [str(i) for i in  num_list if i %2==0]
    odd = [str(i) for i in num_list if i %2==1]
    even1 = int("".join(even))
    odd1 = int("".join(odd))
    return even1 + odd1

In [414]:
lst = [1,2,3,4]

In [415]:
solution(lst)

37

***

# ex 11. 모든 원소들의 합의 제곱이 모든 원소들의 곱보다 작으면?

`-` 작을경우 1, 클경우 0 을 `return`

In [11]:
import numpy as np
def solution(num_list):
    p = np.prod(num_list)
    s = (sum(num_list))**2
    if p <=s :
        return 1
    else : return 0

In [12]:
solution([1,2,3])

1

***

In [15]:
import numpy as np
def solution(num_list):
    L = len(num_list)
    if L >=11 : 
        return sum(num_list)
    else : return np.prod(num_list)

In [16]:
solution([2, 3, 4, 5])

120

***

# ex12. 특정 문자열 대문자로 변경

In [95]:
def solution(s, alp):
    return "".join([i.upper() if i in alp  else i for i in s])

In [96]:
s= "pro"

In [97]:
alp = "p"

In [98]:
solution(s,alp)

'Pro'

# ex13. 감소하는 배열 생성

In [109]:
import numpy as np
def solution(start, end):
    result = list(np.arange(start,end-1,-1))
    r = [int(i) for i in result]
    return r

In [117]:
solution(10,3)

[10, 9, 8, 7, 6, 5, 4, 3]

# ex14.  배열의 길이에 따른 연산

`-` 길이가 홀수 $\to$ 짝수 인덱스에서 `+n`

`-` 길이가 짝수 $\to$ 홀수 인덱스에서 `+n`

In [188]:
def solution(arr, n):
    N=len(arr)
    if N%2:
        for i in range(0,N,2): arr[i]+=n
    else:
        for i in range(1,N,2): arr[i]+=n
    return arr

***

# ex15. 조건에 맞게 수열 변환하기 1

arr의 각 원소에 대해 값이 50보다 크거나 같은 짝수라면 2로 나누고, 50보다 작은 홀수라면 2를 곱헤라.

In [202]:
arr = [1, 2, 3, 100, 99, 98]

In [203]:
def solution(arr):
    for i in range(len(arr)) :
        if arr[i] >= 50 and arr[i] % 2==0 : 
            arr[i] =int(arr[i]/2)
        elif arr[i] < 50 and arr[i] % 2==1 : 
            arr[i] = int(arr[i]*2) 
    return arr

In [204]:
solution(arr)

[2, 2, 6, 50, 99, 49]

# ex16. 접미사에 해당 인덱스 포함

1. 두 배열의 길이가 다르다면, 배열의 길이가 긴 쪽이 더 크다.

2. 배열의 길이가 같다면 각 배열에 있는 모든 원소의 합을 비교하여 다르다면 더 큰 쪽이 크고, 같다면 같다.

3. 두 정수 배열 arr1과 arr2가 주어질 때, 위에서 정의한 배열의 대소관계에 대하여 arr2가 크다면 -1, arr1이 크다면 1, 두 배열이 같다면 0을 return 하는 solution 함수를 작성

In [218]:
def solution(arr1, arr2):
    if len(arr1) < len(arr2) :
        return -1
    elif len(arr1) == len(arr2) :
        if sum(arr1) > sum(arr2) :
            return 1
        elif sum(arr1) == sum(arr2) : 
            return 0
        else : return -1
    else : return 1

In [219]:
arr1 = [49, 13]
arr2 = 	[70, 11, 2]

In [220]:
solution(arr1,arr2)

-1

In [228]:
a = [1, 2, 3, 4] + [2]

print(a)

[1, 2, 3, 4, 2]