---
title : "00. 그리디 알고리즘"
author : "GC"
date : "08/24/23"
categories : [python, 그리디]
---

# 그리디 알고리즘

`-`  현재 상황에서 지금 당장 좋은 것만 고르는 알고리즘

## 예제 1. 거스름돈

`-` 다음과 같이 거스름돈으로 사용할 리스트가 있고, 거슬러줘야 할 돈(N)이 `1,260`원 이라고 하자.

In [4]:
N = 1260
lst=  [500,100,50,10]

`-` 해당 문제에서 우리는 최소한의 동전 개수로 돈을 거슬러줘야한다.

* 그리디 알고리즘을 이용해 풀 수 있는 대표적인 문제는 바로 이러한 문제이며, 해결법은 `가장 큰 화폐 단위부터` 돈을 거슬러 주는 것이다.

1. 처음에 500원짜리 2개

2. 그 다음, 100원 짜리 2개

3. 50원짜리 1개, 10원짜리 1개

4. 최소 6개의 동전을 이용한다!

### 풀이

In [1]:
N = 1260
lst=  [500, 100, 50, 10]

count = 0 ## 동전 개수 저장

for i in lst :
    count += N // i
    N %= i

print(count)

6

***

##  예제 2. 큰 수의 법칙

`-` 큰 수의 법칙은 다양한 수로 이루어진 배열이 있을 때 주어진 수들을 `M`번 더하여 가장 큰 수를 만드는 법칙이다.

* 규칙 1 : 단, 배열의 특정한 인덱스에 해당하는 수가 연속해서 `K`번 초과하여 더해질 수 없다.

* 규칙 2 : 그러나 서로 다른 인덱스의 같은 수가 있다면, 같은 수를  번갈하서 `K`번 더할 수 있다.

* 규칙 3 : `K`는 항상 `M`보다 작거나 같다

`-` 변수 소개

* N : 입력 받을 배열의 자연수 개수

* M : 주어진 `N`개의 수에서 `M`번 더할 수 있음.

* K : 해당 인덱스에서 연속해서 꺼낼 수 있는 수

`-` 입력 예시

In [12]:
N,M,K = 5,8,3
arr = [2,4,5,4,6]

* 위와 같은 배열이 주어지면 $\to$ `6 + 6 + 6 + 5 +  6  + 6 + 6 + 5 = 46`

### 풀이

`-` 가장 큰 수와 두 번째로 큰 수를 알고 있다면,  두 수를 번갈아서 더해 `M`번을 채우면 된다!!

`1` 데이터 입력 받기

In [64]:
n,m,k  = map(int, input().split())
data = list(map(int,input().split()))

 5 8 3
 2 4 5 4 6

`2` 입력받은  수들을 정렬

In [65]:
data.sort()

In [66]:
data

[2, 4, 4, 5, 6]

`3` 가장 큰 수와 두번째로 큰 수를 저장

In [67]:
first = data[n-1]
second = data[n-2]

In [68]:
print(first,second)

6 5

`4` 가장 큰 수가 더해지는 횟수 계산

* 여기에서는 k가 3이므로 그리디 배열은  `[6,6,6,5]`이다. 따라서 전체 m을 (k+1)로 나누면 해당 배열이 그리디 배열을 반복하는 숫자이다.

* 그러나 M이 (k+1)로 나누어 떨어지지 않는 경우도 고려해야한다. 그럴 때는 M을 (k+1)로 나눈 나머지만큼 가장 큰 수가 추가도 더해지므로 이를 고려한다.

In [71]:
n,m,k

(5, 8, 3)

In [69]:
count = int(m/(k+1))*k
count += m%(k+1)

In [70]:
count

6

`5` 위를 활용하여 가장 큰 수가 더해지는 횟수와 두 번째로 큰 수가 더해지는 횟수까지 구할 수 있다.

In [72]:
result = 0
result += (count)*first # 가장 큰 수 더하기
result

36

In [73]:
result += (m-count)*second

In [74]:
print(result)

46

### 코드 정리

In [75]:
n,m,k  = map(int, input().split())
data = list(map(int,input().split()))

data.sort()


first = data[n-1]
second = data[n-2]

count = int(m/(k+1))*k
count += m%(k+1)


result = 0
result += (count)*first # 가장 큰 수 더하기

result += (m-count)*second 

print(result)

 5 8 3
 2 4 5 4 6

46

## 예제 3. 숫자 카드게임

`-` 여러 개의 숫자 카드 중에서 가장 높은 숫자가 쓰인 카드 한 장을 뽑는 게임

1. 숫자가 쓰인 카드들이 `$N \times M$` 형태로 놓여 있다.

2. 먼저 뽑고자 하는 카드가 포함되어 있는 행을 선택한다.

3. 그다음 선택된 행에 포함된 카드들 중 가장 숫자가 낮은 카드를 뽑아야한다.

4. 따라서 처음에 카드를 골라낼 행을 선택할 때, 이후에 해당 행에서 가장 숫자가 낮은 카드를 뽑을 것을 고려하여 최종적으로 가장 높은 숫자의 카드를 뽑을 수 있도록 전략을 짜야함

`-` 문제 해결 방법 :  각 행마다 가장 작은 수를 찾은 뒤에 그 수 중에서 가장 큰 수를 찾는 것!

### 풀이

In [76]:
n, m = map(int,input().split())

result = 0

for i in range(n) :
    data = list(map(int, input().split())) ## 한 줄씩 배열 입력 받기
    min_value = min(data)
    result = max(result,min_value) ## 가장 작은 수들 중에서 가장 큰 수 찾기

print(result)

 3 3
 3 1 2
 4 1 4
 2 2 2

2

***

## 예제 4. 1이 될 때까지 ($\star\star$)

어떤 수 N이 1이 될 때까지 다음의 두 과정 중 하나를 반복적으로 선택하여 수행한다.

1. N에서 1을 뺀다.

2. N을 K로 나눈다.

만약 N이 17, K가 4라고 가정하자. 이때 1번의 과정을 한 번 수행하면 N은 16이 된다.

이후에 2번의 과정을 두 번 수행하면 N은 1이 되며 이는 N을 1로 만드는 최소 횟수이다.

`-` 인사이트 : 해당 문제의 해법은 최대한 나누기를 많이 하는 것이다!

1. N이 K의 배수가 될 때까지 1을 빼기

2. N을 K로 나누기

### 풀이

`-` 접근 : 루프를 통해 계속해서 n을 k의 배수로 만들어준다.

In [109]:
n, k = map(int,input().split())

result = 0
print(f"n : {n}")
while True :
    print("\n빼기 연산 수행")
    target = (n//k) *k ## n을 k로 나눈 몫을 담기
    print(f"target : {target}")
    result += (n-target) ## 만약 n=17이고 k가 4라면 result에는 1이 저장
    print(f"result : {result}")
    n = target ## n을 target으로 바꿔줌, 즉 n을 k의 배수로 변경
    
    if n < k : 
        break
    n //= k # n을 k로 나누기
    result += 1 ## 나눈 횟수 저장
    print("\n나누기 연산 수행")
    print(f"n : {n}")
    print(f"result : {result}")
   
print(f"\n n: {n}")
result += (n-1)
print(f"\n result: {result}")

 17 4

n : 17

빼기 연산 수행
target : 16
result : 1

나누기 연산 수행
n : 4
result : 2

빼기 연산 수행
target : 4
result : 2

나누기 연산 수행
n : 1
result : 3

빼기 연산 수행
target : 0
result : 4

 n: 0

 result: 3

***

# study(231112)

## 거스름돈

춘향이는 편의점 카운터에서 일한다.

손님이 2원짜리와 5원짜리로만 거스름돈을 달라고 한다. 2원짜리 동전과 5원짜리 동전은 무한정 많이 가지고 있다. 동전의 개수가 최소가 되도록 거슬러 주어야 한다. 거스름돈이 n인 경우, 최소 동전의 개수가 몇 개인지 알려주는 프로그램을 작성하시오.

예를 들어, 거스름돈이 15원이면 5원짜리 3개를, 거스름돈이 14원이면 5원짜리 2개와 2원짜리 2개로 총 4개를, 거스름돈이 13원이면 5원짜리 1개와 2원짜리 4개로 총 5개를 주어야 동전의 개수가 최소가 된다.

`-` 입력 : 첫째 줄에 거스름돈 액수 n(1 ≤ n ≤ 100,000)이 주어진다.

`-` 출력 : 거스름돈 동전의 최소 개수를 출력한다. 만약 거슬러 줄 수 없으면 -1을 출력한다.

### sol

In [41]:
n = int(input())
count = 0 ## 동전 개수 저장을 위한 변수

while(True) :
    if n % 5 == 0 :
        count += n//5
        break
    else :
        n -= 2
        count +=1
    if n < 0 :
        break
if n < 0 :
    print(-1)
else :
    print(count)

 2

1

***

## 서강근육맨

로니 콜먼 동영상을 보고 보디빌더가 되기로 결심한 향빈이는 PT 상담을 받으러 서강헬스클럽에 갔다. 향빈이가 서강헬스클럽을 선택한 이유는 PT를 받을 때 사용하는 운동기구를 회원이 선택할 수 있다는 점 때문이다. 하지만, 서강헬스클럽은 항상 사람이 많아서 PT를 한 번 받을 때 운동기구를 최대 두 개까지만 선택할 수 있다.

헬스장에 있는 
$N$개의 운동기구를 한 번씩 사용해보고 싶은 향빈이는 PT를 받을 때마다 이전에 사용하지 않았던 운동기구를 선택하기로 계획을 세웠다. 그리고 비용을 절약하기 위해 PT를 받을 때 운동기구를 되도록이면 두 개를 사용하기로 했다. 예를 들어, 헬스장에 총 
$10$개의 운동기구가 있을 경우 PT를 
$5$번 받으면 모든 기구를 다 사용할 수 있다. 
$9$개의 운동기구가 있는 경우에도 PT를 
$5$번 받지만, 마지막 PT를 받을 때는 운동기구를 하나만 사용한다.

하지만 향빈이는 운동기구를 선택하다가 큰 고민에 빠졌다. 왜냐하면 운동기구마다 근손실이 일어나는 정도가 다르기 때문이다. 어떤 운동기구는 자극이 잘 안 와서 근손실이 적게 일어나는데, 어떤 운동기구는 자극이 잘 와서 근손실이 많이 일어난다. 근손실이 죽음보다 무서운 향빈이는 PT를 한 번 받을 때의 근손실 정도가 
$M$을 넘지 않도록 하고 싶다. 이때, 
$M$의 최솟값을 구해보자. 참고로, 운동기구를 두 개 사용해서 PT를 받을 때의 근손실 정도는 두 운동기구의 근손실 정도의 합이다.

`-` 입력

첫째 줄에 서강헬스클럽에 비치된 운동기구의 개수를 나타내는 정수 
$N$이 주어진다. (
$1 \leq N \leq 10\ 000$)

둘째 줄에는 각 운동기구의 근손실 정도를 나타내는 정수 
$t_1, t_2, \cdots, t_N$가 주어진다. (
$0 \leq t_i \leq 10^{18}$)

`-` 출력

$M$의 최솟값을 출력한다.

### sol

In [65]:
N = int(input())

t = list(map(int, input().split()))
t.sort()

if N<=2 :
    print(sum(t))
m = 0

if len(t) % 2 == 1:
    m = t.pop(-1) ## 정렬하면 마지막 원소가 가장 큰 수 이므로

lst = [t[i] + t[-i-1] for i in range(len(t) // 2)]
lst.append(m)

print(max(lst))

 5
 1 2 3 4 5

5

***

## 블로그2

neighbor 블로그를 운영하는 일우는 매일 아침 풀고 싶은 문제를 미리 정해놓고 글을 올린다. 그리고 매일 밤 각각의 문제에 대하여, 해결한 경우 파란색, 해결하지 못한 경우 빨간색으로 칠한다. 일우는 각 문제를 칠할 때 아래와 같은 과정을 한 번의 작업으로 수행한다.

1. 연속된 임의의 문제들을 선택한다.

2. 선택된 문제들을 전부 원하는 같은 색으로 칠한다.

<img alt="" src="https://upload.acmicpc.net/72fda166-5e2c-42b4-a9c1-e52993a5c45e/-/preview/" style="height: 227px; width: 200px;">

예를 들어, 각 문제를 위와 같은 색으로 칠하려고 할 때, 1~2번 문제를 파란색, 3번을 빨간색, 4번을 파란색, 5번을 빨간색, 6~7번을 파란색, 8번을 빨간색으로 칠하는 작업을 순서대로 수행하면 6번의 작업을 거쳐야 한다. 하지만, 1~7번 문제를 파란색, 3번을 빨간색, 5번을 빨간색, 8번을 빨간색으로 순서대로 칠한다면 작업 횟수는 4번으로 가장 적다.

일우는 매일 500,000문제까지 시도하기 때문에, 이 작업이 꽤나 귀찮아지기 시작했다. 그래서 가장 효율적인 방법으로 위 작업을 수행하기를 원한다. 일우를 도와 각 문제를 주어진 색으로 칠할 때 필요한 최소한의 작업 횟수를 구하는 프로그램을 작성하라.

`-` 입력

첫째 줄에 색을 칠해야 하는 문제의 수 N (1 ≤ N ≤ 500,000)이 주어진다.

둘째 줄에 N개의 문자가 공백 없이 순서대로 주어진다. 각 문자는 i번째 문제를 어떤 색으로 칠해야 하는지를 의미하며, R은 빨간색, B는 파란색을 나타낸다. 그 외에 다른 문자는 주어지지 않는다.

`-` 출력

첫째 줄에 일우가 주어진 모든 문제를 원하는 색으로 칠할 때까지 필요한 작업 횟수의 최솟값을 출력하라.

### sol

In [95]:
N = int(input())
lst = list(input())

 5
 BRBRR

In [96]:
lst

['B', 'R', 'B', 'R', 'R']

In [97]:
colors = {"B" : 0, "R" : 0} ## 색깔 count 저장을 위한 딕셔너리 생성

colors[lst[0]] += 1

In [98]:
colors

{'B': 1, 'R': 0}

In [99]:
for i in range(1, N) :
    if lst[i] != lst[i-1] :
        colors[lst[i]] += 1  # 연속된 색깔은 횟수 한번으로 간주

In [100]:
colors

{'B': 2, 'R': 2}

In [104]:
print(min(colors.values()) + 1)

3

***

# study(231119)

## 주식

홍준이는 요즘 주식에 빠져있다. 그는 미래를 내다보는 눈이 뛰어나, 날 별로 주가를 예상하고 언제나 그게 맞아떨어진다. 매일 그는 아래 세 가지 중 한 행동을 한다.

1. 주식 하나를 산다.

2. 원하는 만큼 가지고 있는 주식을 판다.
3. 아무것도 안한다.

홍준이는 미래를 예상하는 뛰어난 안목을 가졌지만, 어떻게 해야 자신이 최대 이익을 얻을 수 있는지 모른다. 따라서 당신에게 날 별로 주식의 가격을 알려주었을 때, 최대 이익이 얼마나 되는지 계산을 해달라고 부탁했다.

예를 들어 날 수가 3일이고 날 별로 주가가 10, 7, 6일 때, 주가가 계속 감소하므로 최대 이익은 0이 된다. 그러나 만약 날 별로 주가가 3, 5, 9일 때는 처음 두 날에 주식을 하나씩 사고, 마지막날 다 팔아 버리면 이익이 10이 된다.

`-` 입력

입력의 첫 줄에는 테스트케이스 수를 나타내는 자연수 T가 주어진다. 각 테스트케이스 별로 첫 줄에는 날의 수를 나타내는 자연수 N(2 ≤ N ≤ 1,000,000)이 주어지고, 둘째 줄에는 날 별 주가를 나타내는 N개의 자연수들이 공백으로 구분되어 순서대로 주어진다. 날 별 주가는 10,000이하다.

`-` 출력

각 테스트케이스 별로 최대 이익을 나타내는 정수 하나를 출력한다. 답은 부호있는 64bit 정수형으로 표현 가능하다.

### sol

In [48]:
T = int(input())
for _ in range(T):
    N = int(input())
    stock = list(map(int, input().split()))
    stock.reverse() ## 계산을 편하게 하기 위해
    max = stock[0]
    sum = 0

    for i in range(1, N):
        if max < stock[i]:
            max = stock[i]
            continue
        sum += max - stock[i]

    print(sum)

 1
 3
 3 5 9

10

***

## 강의실 배정

수강신청의 마스터 김종혜 선생님에게 새로운 과제가 주어졌다. 

김종혜 선생님한테는 Si에 시작해서 Ti에 끝나는 N개의 수업이 주어지는데, 최소의 강의실을 사용해서 모든 수업을 가능하게 해야 한다. 

참고로, 수업이 끝난 직후에 다음 수업을 시작할 수 있다. (즉, Ti ≤ Sj 일 경우 i 수업과 j 수업은 같이 들을 수 있다.)

수강신청 대충한 게 찔리면, 선생님을 도와드리자!

`-` 입력

첫 번째 줄에 N이 주어진다. (1 ≤ N ≤ 200,000)

이후 N개의 줄에 Si, Ti가 주어진다. (0 ≤ Si < Ti ≤ 109)

`-` 출력

강의실의 개수를 출력하라.

### sol

In [5]:
N = int(input())

 3

In [56]:
import heapq

lecture = []
for _ in range(N) :
    S, T = map(int, input().split())
    lecture.append([S,T])
    
lecture.sort() ## 강의 시작 시간(S) 기준 정렬

room = []

heapq.heappush(room, lecture[0][1]) ## 첫 번째 강의 종료 시간을 room[0]에 저장

for i in range(1, len(lecture)) :
    if room[0] <= lecture[i][0] : ## 만약 첫 번째 강의 종료 시간이 두 번째 강의 시작 시간보다 작거나 같다면, 수업을 같이 들을 수 있음
        heapq.heappop(room) ## 기준 바꾸기 위해 첫 번째 강의 종료 시간을 pop 
        heapq.heappush(room, lecture[i][1]) ## 두 번째 강의 종료 시간을 push
        
    else :
        heapq.heappush(room, lecture[i][1]) ## 새로운 강의실 추가

print(len(room))

 1 3
 2 4
 3 5

2

***

## 센서

한국도로공사는 고속도로의 유비쿼터스화를 위해 고속도로 위에 N개의 센서를 설치하였다. 문제는 이 센서들이 수집한 자료들을 모으고 분석할 몇 개의 집중국을 세우는 일인데, 예산상의 문제로, 고속도로 위에 최대 K개의 집중국을 세울 수 있다고 한다.

각 집중국은 센서의 수신 가능 영역을 조절할 수 있다. 집중국의 수신 가능 영역은 고속도로 상에서 연결된 구간으로 나타나게 된다. N개의 센서가 적어도 하나의 집중국과는 통신이 가능해야 하며, 집중국의 유지비 문제로 인해 각 집중국의 수신 가능 영역의 길이의 합을 최소화해야 한다.

편의를 위해 고속도로는 평면상의 직선이라고 가정하고, 센서들은 이 직선 위의 한 기점인 원점으로부터의 정수 거리의 위치에 놓여 있다고 하자. 따라서, 각 센서의 좌표는 정수 하나로 표현된다. 이 상황에서 각 집중국의 수신 가능영역의 거리의 합의 최솟값을 구하는 프로그램을 작성하시오. 단, 집중국의 수신 가능영역의 길이는 0 이상이며 모든 센서의 좌표가 다를 필요는 없다.

`-` 입력

첫째 줄에 센서의 개수 N(1 ≤ N ≤ 10,000), 둘째 줄에 집중국의 개수 K(1 ≤ K ≤ 1000)가 주어진다. 셋째 줄에는 N개의 센서의 좌표가 한 개의 정수로 N개 주어진다. 각 좌표 사이에는 빈 칸이 하나 있으며, 좌표의 절댓값은 1,000,000 이하이다.

`-` 출력

첫째 줄에 문제에서 설명한 최대 K개의 집중국의 수신 가능 영역의 길이의 합의 최솟값을 출력한다.

In [76]:
N = int(input())
K = int(input())

sensor = list(map(int,input().split()))
sensor.sort()

 6
 2
 1 3 6 6 7 9

In [77]:
sensor

[1, 3, 6, 6, 7, 9]

In [78]:
array = []
for i in range(0,N-1):
    array.append(sensor[i+1] - sensor[i])

array.sort()
print(sum(array[:N-K])) ### 이 부분은 왜 이렇게 하는지 이해가 가지 않음....

5